@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Thasadith&display=swap');

:root {
    /* bg colors*/
    --background: #02050e;
    --primary: #ffffff;
    --secondary: #ffbeaa;
    --btn-bg: #050d26;
    --bg-azul-10: #e9eeff;
    --bg-white: #fff;
    --bg-electric: #f0fbff;
    --nav-bg: #0f1525;

    /* Text colors*/
    --text-gray: #ff6e42;
    --text-white: #f3f4f6;

    /* Decoration */
    --fire #ff6d00;
    --electric: #64d3ff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    text-decoration: none;
    list-style-type: none;
}

header {
    background: var(--secondary);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px 0 px 30 px;
}

.logo {
    width: 50px;
}

.sm {
    font-weight: 600;
    border-radius: 10px;
    height: 30px;
    padding: 5px 10px;
    margin-right: 1rem;
    color: var(--text-white);
    cursor: pointer;
    
}

.navbar,
.nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-list {
    gap: 150px
}

.nav-list a {
    color: var(--text-gray);
    font-weight: 600;
}

main {
    background: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text-gray);
    width: 100%;
}

#hero {
    margin-top: 65px;
    padding: 70px 0;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.hero-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%
}

.hero-info h1 {
    font-size: 40px;
    width: 80%;
    min-width: 500px;
    font-weight: 800;
}

.hero-info h5 {
    font-size: 20px;
    width: 80%;
    min-width: 500px;
    font-weight: 800;
}

.hero-info a {
    color: var(--text-white);
    background-color: var(--text-gray);
    width: 120px;
    padding: 8px 0px;
    border-radius: 10px;
    font-size: 14px;
    text-align: center;
}

.fotomain1 {
    width: 350px;
    background: var(--secondary);
    padding: 5px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
